body {
  font-family:'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0
}

.main {
  display: flex;
  flex-direction: column;
}

header, footer {
  display: flex;
  justify-content: center;
  background-color: #202938;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 15%;
}

.headerlinks-main {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.headerlinks {
  font-weight: normal;
  font-size: 14px
}

footer {
  padding: 30px;
}

.hero {
  background-color: #202938;
  color: white;
  display: flex;
  justify-content: center;
  padding: 100px 15%;
}

.hero-content {
  height: 200px;
  width: 100%;
}

.hero-button {
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
}

.hero-image {
  background-color: #6d747e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quote-main {
  background-color: #e6e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  font-size: 30px;
  max-width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.content-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.icon-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.image-box {
  border: 3px solid #4082e7;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.image-box-text {
  text-align: center;
  width:150px;
}

.cta-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  padding-top: 75px;
  padding-bottom: 75px;
  
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 30px 150px;
  gap: 200px;
  border-radius: 10px;
}

.cta-button {
  background-color: #3b82f6;
  border: 2px solid white;
  color:white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.cta-text {
  margin:0;
}

.cta-subtext {
  font-weight: normal;
}

